@media (max-width: 2070px) {


  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Sedan","DM Serif Display", serif;
    font-weight: 400;
    font-style: normal;
    list-style: none;
    text-decoration: none;
  }

  header {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.25% 9%;
    background: #f6f4f1;
  }



  body {
    background: #ebebeb;
    height: 274.0741vh;
  }
  .body {
    background: rgb(218, 216, 216);
    width: 85%;
    margin: 0 auto;
    height: 91.4815vh;
  }

  ul {
    margin: auto;
  }
  .navlist {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  .navlist a {
    color: #5b5247;
    margin-left: 2.2396vw;
    margin-right: 2.2396vw;
    font-weight: 10;
    border-bottom: 0.1042vw solid transparent;
    transition: all 0.55s ease;
    font-size: 0.9896vw;
    justify-content: center;
    height: 100%;
  }

  .navlist a.centerUI{
    color: #5b5247;
    margin-left: 3.6458vw;
    margin-right: 2.2396vw;
    font-weight: 10;
    border-bottom: 0.1042vw solid transparent;
    transition: all 0.55s ease;
    font-size: 2.0833vw;
    justify-content: center;
    height: 100%;
  }

  .navlist a:hover {
    border-bottom: 0.1042vw solid #5b5247;
  }

  #menu-icon {
    color: #5b5247;
    font-size: 2.5vw;
    z-index: 10001;
    cursor: pointer;
  }

  .main {
    padding-top: 2.5vw;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-left: 0.8333vw;
  }

  .main-image {
    width: 22%;
    height: auto;
    margin-top: 10%;
    z-index: 100;
    position: relative;
  }

  button {
    text-align: center;
    position: relative;
    z-index: 100;
    width: 22%;
    margin-top: 2%;
    font-size: 1.3021vw;
    font-family: "DM Serif Display", serif;
    cursor: pointer;
    padding-top: 0.9259vh;
    padding-bottom: 0.9259vh;
    border-radius: 0.2083vw;
    border: none;
  }



  .subjects h1 {
    text-align: center;
    padding-top: 12%;
    font-size: 2.5vw;
    font-weight: 100;
    padding-bottom: 2%;
  }

  .subjects table {
    margin: auto;
    text-align: center;

    z-index: 100;
    position: relative;
  }

  .subjects td {
    padding: 2.5vw;
    margin: auto;
    text-align: center;
  }

  .subimg {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
  }

  .subjects table tr td table {
    padding: none;
  }

  .box {
    width: 60%;
    height: 59.2593vh;
    background-color: #f6f4f1;

    margin: 0 auto;
    z-index: 50;
    position: absolute;
    left: 20%;
  }

  table.subjects {
    position: relative;
    z-index: 100;
    margin-top: 2%;
  }

  .subjects table table td button {
    background-color: #af9d81;
    font-size: 1.0417vw;
    width: 80%;
    padding: none;
  }

  .subjects table table td {
    padding: 0.8333vw;
  }

  p {
    text-align: center;
    padding-top: 7%;
    font-size: 1.0417vw;
  }

  .moreinfo {
    margin-top: 5%;
    background-color: #ffffff;
    width: 100%;
    padding: 3em 0;
    display: flex;
  }

  .moreinfo table td {
    width: 50%;
    text-align: center;
  }
  .moreinfo table td h1 {
    font-weight: 100;
    padding-bottom: 1.4815vh;
  }

  .moreinfo table td h2 {
    font-weight: 100;

    padding: 0 2.5vw 1.4815vh 2.5vw;
  }

  .footer {
    position: relative;
    bottom: 0;
    left: 0;
    top: 16%;
  }
  .footer table {
    border-top: 0.0521vw solid black;
    width: 80%;
    margin: auto;
    position: relative;
    height: 7.4074vh;
    padding-top: 1.4815vh;
    top: 168.8889vh;
  }

  .footer a {
    text-decoration: none;
    color: black;
  }

  .bodyofficer {
    background: rgb(218, 216, 216);
    width: 85%;
    margin: 0 auto;
    height: 260vh;
    background-color: whitesmoke;
  }

  .bodyofficer h1 {
    margin: 0 auto;
    padding-top: 15vh;
    text-align: center;
    font-size: 3em
  }

  .bodyofficer .lefttable{
    height: 20vh; 
    margin-right: 20vw;
    background-color: #D9D9D9;
    margin-top: 8vh;
  }

  .bodyofficer .lefttable img{
    width: 10.4167vw;
    height: auto;
    padding: 0.9259vh 0 0.9259vh 2.6042vw;
    margin-left: 2.6042vw;
  }

  .bodyofficer .lefttext{
    padding-left: 5.2083vw;
    padding-right: 5.2083vw; 
    text-align: center;
  }

  .bodyofficer .righttable{
    height: 20vh;
    margin-left: 20vw;
    background-color: #D9D9D9;
    margin-top: 8vh;
  }

  .bodyofficer .righttext{
    padding-right: 5.2083vw;
    padding-left: 5.2083vw;
    text-align: center;
    
  }

  .bodyofficer .righttable img{
    width: 10.4167vw;
    height: auto;
    padding: 0.9259vh 2.6042vw 0.9259vh 0;
    margin-right: 2.6042vw;
  }

  .bodycontact{
    width: 100%;
    height: 100vh;
    background-color: whitesmoke;
  }

  .bodycontact table{
    text-align: center;
    margin: auto;
    text-decoration: none;
    line-height: 2.963vh;
  }

  .bodysocial{
    height: 85%;
    background-color: whitesmoke;
    width: 90%;
    margin: auto;
  }

  .bodysocial table{
    border-collapse: collapse;
    border-spacing: 0;
    width: 25%;
    border: 0.0521vw solid #ddd;
    display: inline-block;
    margin-top: 10.4167vw;
    margin-left: 4.1667vw;
    background-color: rgb(243, 226, 223);
    
  }

  .bodysocial table td{
    padding: 0.9259vh,0.5208vw;
    text-align: center;

  }

  .bodysocial img{
    width: 15.625vw;
    height: auto;
    
  }

  .socialtable{
    margin-left: 4.6875vw;
  }

}

